.logo {
    height: 40vmin;
    pointer-events: none;
    transform: rotate(90deg);
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 5s ease-in-out;
    }
}

@keyframes App-logo-spin {
    0% {
        transform:
            rotate(90deg)
            /*rotate3d(0, 1, 0, 0deg);*/
    }

    50% {
        transform:
            rotate(270deg)
            /*rotate3d(0, 1, 0, 180deg);*/
    }

    100% {
        transform:
            rotate(90deg)
            /*rotate3d(0, 1, 0, 0deg);*/
    }
}