

// Utilities --------------------------
.bottom-line {
    height: 2px;
    width: 3rem;
    background: #bbb;
    display: block;
    margin: 0 auto 1rem auto;
}
// --------------------------------------------------------

// ++++++ ABOUT SECTION +++++
#about-section {
    padding: 9rem 0;

    .mj-container {
        text-align: center;
    }

    .about-info {
        display: flex;
        justify-content: center;

        img {
            max-width: 25%;
            @include media-breakpoint-down(sm) {
                display: none;
                /* CHROME HAS PROBLEMS, USE FIREFOX! */
            }
        }

        .bio {
            border-left: 3px solid $primary;
            margin-left:10px;
            text-align: left;
            padding: 2rem;
            max-width: 50%;
        }
    }
}


// Responsive --------------------------------------------------
