// Utilities --------------------------
.bottom-line {
    height: 2px;
    width: 3rem;
    background: #bbb;
    display: block;
    margin: 0 auto 1rem auto;
}
// --------------------------------------------------------

// ++++++ ABOUT SECTION +++++
#about-section {
    padding: 9rem 0;

    .mj-container {
        text-align: center;
    }

    .about-info {
        display: flex;

        img {
            max-width: 25%;
        }

        .bio {
            border-left: 3px solid $primary;
            margin-left:10px;
            text-align: left;
            padding: 2rem;
        }
    }
}


// Responsive --------------------------------------------------

// Not working ....
// @media(max-width: 500px) {
//     #about-section {
//         .mj-container {
//         }
    
//         .about-info {
    
//             img {
//                 display: none;
//             }
    
//             .bio {
//             }
//         }
//     }   
// }