

// Utilities --------------------------
.bottom-line {
    height: 2px;
    width: 3rem;
    background: #bbb;
    display: block;
    margin: 0 auto 1rem auto;
}
// --------------------------------------------------------

// ++++++ ABOUT SECTION +++++
#about-section {
    padding: 12rem 0;

    .about-info {
        display: flex;
        justify-content: center;

        img {
            max-width: 25%;
            object-fit: cover;
            @include media-breakpoint-down(md) {
                display: none;
                /* CHROME HAS PROBLEMS, USE FIREFOX! */
            }
        }

        .bio {
            border-left: 3px solid $primary;
            margin-left:10px;
            text-align: left;
            padding: 2rem;
            max-width: 70%;
            @include media-breakpoint-down(md) {
                max-width: 100%;
                margin-left: 0;
                padding: 1rem;
            }
        }
    }
}


// Responsive --------------------------------------------------
