.contact__form__label {
    color: var(--primary-dark-color) !important;
    /*font-size: larger !important;*/
}

.contact__form__label--focused {
    color: var(--primary-color) !important;
}

.contact__form__input {
    color: #ccc !important;
    caret-color: var(--primary-color);
}

.contact__form__input:before {
    border-bottom: 2px solid var(--primary-dark-color) !important;
}

.contact__form__input:after {
    border-bottom: 2px solid var(--primary-color) !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ccc;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
