.project {
    border-left: 3px solid var(--primary-color);
    color: #ccc;
    padding-left: 5px;
}

.project__title {
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    /*font-family: 'Zilla Slab', sans-serif;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Convergence', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

.project__tasks ul {
    list-style: initial;
}
