.project {
    border-left: 3px solid var(--primary-color);
    color: #ccc;
    padding-left: 15px;
}

.project__title {
    font-family: 'Montserrat', sans-serif;
}

.project__date {
    display: flex;
    align-items: center;
}

.project__date--text {
    margin-left: 20px;
}

.project__tasks {
    display: flex;
    align-items: center;
}

.project__tasks--list {
    list-style: initial;
}

.project__brands {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.project__brands--img {
    border-bottom: 1px solid #999;
    display: inline-block;
    height: 70px;
    padding-bottom: 3px;
    width: 70px;
}

.project__brands--img img {
    max-width: 100%;
    max-height: 100%;
}
