.project {
    border-left: 3px solid var(--primary-color);
    color: #ccc;
    padding-left: 15px;
    margin-bottom: 20px;
}

.project__title {
    display: flex;
    align-items: center;
}

.project__title h2 {
    font-family: 'Montserrat', sans-serif;
}

.project__title__customer-logo {
    /*border-bottom: 1px solid #999;*/
    display: inline-block;
    height: 80px;
    /*padding-bottom: 3px;*/
    width: 80px;
}

.project__title__customer-logo img {
    max-width: 100%;
    max-height: 100%;
}

.project__date {
    display: flex;
    align-items: center;
}

.project__date--text {
    margin-left: 20px;
}

.project__tasks {
    display: flex;
    align-items: center;
}

.project__tasks--list {
    list-style: initial;
}

.project__tools {
    display: flex;
    /*justify-content: center;*/
    text-align: center;
}

.project__tools--icon {
    margin-right: 20px;
}

.project__tools--img-wrapper {
    border-bottom: 1px solid #999;
    display: inline-block;
    height: 50px;
    margin-left: 5px;
    padding-bottom: 3px;
    width: 50px;
}

.project__tools--img-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
