*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove Arrows from Input:Number --------------- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* ------------------------------------------------ */

/*font-family: 'Montserrat Alternates', sans-serif;*/
/*font-family: 'Zilla Slab', sans-serif;*/
/*font-family: 'Rubik', sans-serif;*/
/*font-family: 'Convergence', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

:root {
    --primary-color: #86c232;
    --primary-dark-color: #61892F;
    --secondary-color: #222629;
    --secondary-light-color: #474B4F;
    --secondary-lighter-color: #6B6E70;
}

body {
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

h1, h2, h3, h4 {
    /* font-family: 'Montserrat Alternates', sans-serif; */
}

p {
    margin-bottom: 0.6rem;
}

ul {
    list-style: none;
}

.page-container {
    padding: 0 15% 10px 15%; /* Padding left and right MUST BE Exactly like .navBar Padding */
}
