.contact {
    margin-top: 30px;
    text-align: center;
}

.contact__title {
    font-size: 30px;
}

.contact__form {
    margin: 40px auto 0 auto;
    width: 50%;
}

.hidden {
    display: none;
}

.contact__form > * {
    margin-bottom: 25px !important;
}

/*[name="bot-field"] {*/
/*    display: none;*/
/*}*/

.contact__form__submit-button--disabled {
    color: var(--secondary-lighter-color) !important;
    border-color: var(--secondary-lighter-color) !important;
    width: 35%;
}

.contact__form__submit-button--active {
    color: var(--primary-dark-color) !important;
    border-color: var(--primary-dark-color) !important;
    width: 35%;
}

.contact__form__submit-button--active:hover {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.contact__form__submit-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: right;
    width: 100%;
}

@media only screen and (max-width: 1366px) {
    .contact__form__submit-wrapper {
        flex-direction: column;
        margin-top: 20px;
    }

    .contact-form__recaptcha {
        margin-bottom: 20px;
    }

    .contact__form__submit-button {
        width: 300px;
    }
}

@media only screen and (max-width: 1024px) {
    .contact__form {
        width: 75%;
    }
}

@media only screen and (max-width: 568px) {
    .contact__form__submit-button {
        width: 70%;
    }
}

@media only screen and (max-width: 460px) {
    .contact__form {
        width: 120%;
        padding-right: 10%; /* To center the form, but it should be a better way to do that! */
    }
}
