.contact {
    margin-top: 70px;
    text-align: center;
}

.contact__title {
    font-size: 30px;
}

.contact__form {
    margin: 40px auto 0 auto;
    width: 50%;
}

.hidden {
    display: none;
}

.contact__form > * {
    margin-bottom: 30px !important;
}

.contact__form__label {
    color: var(--primary-dark-color) !important;
    /*font-size: larger !important;*/
}

.contact__form__label--focused {
    color: var(--primary-color) !important;
}

.contact__form__input {
    color: #ccc !important;
}

.contact__form__input:before {
    border-bottom: 2px solid var(--primary-dark-color) !important;
}

.contact__form__input:after {
    border-bottom: 2px solid var(--primary-color) !important;
}

.contact__form__submit-button {
    color: var(--primary-dark-color) !important;
    border-color: var(--primary-dark-color) !important;
}

.contact__form__submit-button:hover {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
