@media only screen and (max-width: 1024px) {
    .MuiDrawer-paper {
        background-color: var(--secondary-color) !important;
        padding: 40px 15px 0 15px;
        font-size: 22px;
    }

    .MuiDrawer-paper h3 {
        color: #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }

    .MuiDrawer-paper ul {
        margin-top: 10px;
    }
}