.list-item__content__tech {
    margin-bottom: 10px;
    color: #ccc;
    display: flex;
    align-items: center;
}

.skill__list-item:nth-child(2n+1) .list-item__content__tech {
    flex-direction: row-reverse;
}

.list-item__content__tech__text {
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 1200px) {
    .list-item__content__tech {
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 1200px) {
    .list-item__content__tech__icon {
        min-width: 40px; /* Prevent the Skill icons get too small when the sibling text is too long. */
    }
}
