.about > * {
    margin-top: 10%;
    margin-bottom: 1rem;
}

.about h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    /*font-family: 'Zilla Slab', sans-serif;*/
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.section-bio {
    display: flex;
    font-family: 'Convergence', sans-serif;
    /*height: 80vh;*/
}

.about-pic-container {
    /*min-height: 100%;*/
    width: 260px;
    border-radius: 5px;
    flex-shrink: 0;
}

.about-content {
    border-radius: 5px;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.about-pic {
    background:
            url("../../images/about_mypic.jpeg")
            center
            no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #bbb;
    filter: sepia(35%);
    margin: auto;
}

.bio__content__title {
    color: var(--primary-color);
    font-size: 25px;
}

.bio__content__text {
    line-height: 1.5;
    font-size: 1.1rem;
    color: #ccc;
}

.bio__content__text a {
    color: var(--primary-color);
}

/* Section Projects */
.section-projects {
    background-color: var(--secondary-light-color);
    border-radius: 5px;
    padding: 5px 45px 15px 45px;
}

.section-projects--title {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
    .section-bio {
        border-bottom: 3px solid var(--primary-color);
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
        padding-bottom: 45px;
        text-align: justify;
    }

    .section-bio p {
        line-height: 1.8;
    }

    .about-pic-container {
        height: 300px;
        margin-top: 40px;
        order: 2;
    }
}

@media only screen and (max-width: 667px) {
    .section-projects {
        background-color: transparent;
        margin-left: -50px;
        margin-right: -50px;
        padding: 0;
    }

    .section-projects--title {
        text-align: center;
    }
}

@media only screen and (min-width: 2090px) {
    /* To avoid that the face in the profile photo goes out of the image frame */
    .about-pic {
        width: 55%;
    }
}
