.about > * {
    margin-top: 10%;
    margin-bottom: 1rem;
}

.about h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    /*font-family: 'Zilla Slab', sans-serif;*/
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.section-bio {
    display: flex;
    font-family: 'Convergence', sans-serif;
    /*height: 80vh;*/
}

.about-pic-container {
    /*min-height: 100%;*/
    width: 260px;
    border-radius: 5px;
    flex-shrink: 0;
}

.about-content {
    border-radius: 5px;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

.about-pic {
    background:
            url("../../images/about_mypic.jpeg")
            center
            no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #bbb;
    filter: sepia(35%);
    margin: auto;
}

.about-content p {
    line-height: 1.5;
    font-size: 1.1rem;
    color: #ccc;
}

/* Section Projects */
.section-projects {
    background-color: var(--secondary-light-color);
    border-radius: 5px;
    padding: 5px 45px 15px 45px;
}

.section-projects--title {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Responsive : Don't remove the foto, put it under the about-content! */