.about {
    margin-top: 15%;
}

.about-pic {
    background:
            url("../../images/about_mypic.jpeg")
            center
            no-repeat;
    background-size: cover;
    height: 350px;
    max-width: 290px;
    border-radius: 7px;
    filter: sepia(35%);
}