.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.works__title {
    padding-bottom: 5px;
    padding-top: 20px;
}

.work {
    background-color: var(--secondary-light-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ccc;
    cursor: pointer;
    height: 250px; width: 250px;
    margin: 5px;
    overflow: hidden;
    transition: all 300ms;
}

.work:hover > .work__overlay {
    transform: translateY(-100%);
}

.work__overlay {
    align-items: center;
    background-color: rgba(134, 194, 50, 0.8);
    bottom: -100%;
    color: var(--secondary-color);
    display: flex;
    height: 100%;
    position: relative;
    transition: all 300ms;
    width: 100%;
}

.overlay__title {
    padding: 10px;
    width: 100%;
}

/*.project > * {*/
/*    margin-bottom: 30px;*/
/*}*/

@media only screen and (max-width: 1200px) {
    .work {
        margin-bottom: 15px;
        width: 40%;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .work {
        margin-bottom: 15px;
        width: 70%;
        height: 200px;
    }
}

/* ---------------- Works - overlay position ---------------- */

.work:hover > .overlay_from-left {
    transform: translate(100%);
}
.overlay_from-left {
    top: 0;
    left: -100%
}

.work:hover > .overlay_from-right {
    transform: translateX(-100%);
}
.overlay_from-right {
    top: 0;
    right: -100%;
}

.work:hover > .overlay_from-top {
    transform: translateY(100%);
}
.work_from-top {
    top: -100%;
}

.work:hover > .overlay_from-bottom {
    transform: translateY(-100%);
}
.overlay_from-bottom {
    bottom: -100%;
}

/* -------------------------------------------------------- */

