.home {
    color: white;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */

.home-bg {
    background:
            url("../images/background_5.jpg")
            center
            no-repeat;
    background-size: cover;
    height: 100%;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;

    filter:
        blur(4px)
        brightness(30%)
        saturate(30%);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */
.home-content {
    align-self: center;
    color: #ddd
}

.home-content h1::after {
    content: '';
    border-bottom: 5px solid var(--primary-color);
    width: 150px;
    height: 1px;
    display: block;
    margin: 10px auto 0 auto;
}