.home {
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */

.home-bg {
    background:
            url("../images/background_5-S.jpg")
            center
            no-repeat;
    background-size: cover;

    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
    height: 100%;
    z-index: -10;
    transition: all 500ms ease-out;
    filter:
        blur(4px)
        brightness(30%)
        saturate(30%);
}

.light-up {
    filter:
        blur(0px)
        brightness(40%)
        saturate(60%);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */
.home-content {
    align-items: center;
    color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.home-content h1::after {
    content: '';
    border-bottom: 5px solid var(--primary-color);
    width: 150px;
    height: 1px;
    display: block;
    margin: 10px auto 0 auto;
}

/* <><><><><><><><><> ABOUT-ME LINK <><><><><><><><>*/

.home-content a {
    /*border: 2px solid var(--primary-color);*/
    border-bottom: 2px solid transparent;
    /*border-radius: 5px;*/
    /*font-size: 23px;*/
    margin-top: 30px;
    overflow: hidden;
    padding: 8px 14px;
    position: relative;
    transition: all 300ms;
    width: fit-content;
}

.home-content a::after {
    content: '';
    border-bottom: 2px solid var(--primary-color);
    width: 60%;
    height: 1px;
    display: block;
    margin: 10px auto 0 auto;
    transition: all 400ms;
}

.home-content a:hover::after {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .home-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*.home-content a::after {*/
/*    background-color: var(--primary-color);*/
/*    border-radius: 5px;*/
/*    content: '';*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    display: block;*/
/*    position: absolute;*/
/*    transform: translate(111px, -32px);*/
/*    transition:all 500ms ease-out;*/
/*    will-change: tranform; !* Browser Performance Optimization *!*/
/*    z-index: -1;*/
/*}*/

/*.home-content a:hover {*/
/*    color: var(--secondary-color);*/
/*    !*font-size: 23px;*!*/
/*    border-color: var(--secondary-color);*/
/*}*/

/*.home-content a:hover::after {*/
/*    transform: translate(-14px, -32px);*/
/*}*/