.home {
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */

.home-bg {
    background:
            url("../images/background_5.jpg")
            center
            no-repeat;
    background-size: cover;

    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
    height: 100%;
    z-index: -10;

    transition: all 500ms ease-in-out;

    filter:
        blur(4px)
        brightness(30%)
        saturate(30%);
}

.hover {
    filter:
            blur(2px)
            brightness(50%)
            saturate(60%);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><> */
.home-content {
    color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.home-content h1::after {
    content: '';
    border-bottom: 5px solid var(--primary-color);
    width: 150px;
    height: 1px;
    display: block;
    margin: 10px auto 0 auto;
}