.container {
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
    margin: 0 auto 0 auto;
    font-size: 1.2rem;
    position: relative;
}

.container h1::after {
    content: '';
    border-bottom: 5px solid var(--primary-color);
    width: 150px;
    height: 1px;
    display: block;
    margin: 10px auto 0 auto;
}

.cover {
    background:
            url("../images/background_5.jpg")
            no-repeat;
    background-size: cover;
    height: 100vh;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;

    filter:
        blur(4px)
        brightness(35%)
        saturate(30%);
}
