.nav {
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    padding: 18px 15%;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 4px;
}

.nav-logo-container {
    background-color: transparent;
    /*pointer-events: none; HOVER DOES NOT WORK WITH THIS! */
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.nav-logo-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
}

/* Navigation List and its Items ------------------------------ */
.nav-list {
    display: flex;
    margin:0 1rem;
    align-items: center;
    font-weight: 600;
}

.nav-list li {
    margin: 0 1.5rem;
    padding: 0 5px;
}