.nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 15%;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 4px;
    transition: opacity 500ms ease-in-out;
}

.nav-logo-container {
    background-color: transparent;
    /*pointer-events: none; HOVER DOES NOT WORK WITH THIS! */
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.nav-logo-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
}

/* Navigation List and its Items ------------------------------ */
.nav-list {
    display: flex;
    margin:0 1rem;
    align-items: center;
    font-weight: 600;
}

.nav-list li {
    margin: 0 1.5rem;
    padding: 0 5px;
}

@media only screen and (max-width: 1024px) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        display: none;
    }

    .MuiDrawer-paper {
        background-color: var(--secondary-color) !important;
        padding: 40px 15px 0 15px;
        font-size: 22px;
    }

    .MuiDrawer-paper h3 {
        color: #ccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }

    .MuiDrawer-paper ul {
        margin-top: 10px;
    }
}

/* Breakpoint 823px: Where the logo starts to shrink drastically. */
@media only screen and (max-width: 823px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

/* Breakpoint 450px: Wo es fuer die Nav-Items in einer Reihe zu eng wird. */
@media only screen and (max-width: 450px) {
    .nav-list {
        flex-direction: column;
    }
}

@media only screen and (max-width: 319px) {
    .nav {
        flex-direction: row;
        /*padding: 0;*/
    }

    .nav-logo-container {
        display: none;
    }
}
