header + div {
    padding-top: 30px;    
}

.nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 3px 5px;
    margin-bottom: 4px;
    transition: 0.1s; /* exBug: the logo jumps with longer times!!! */
}

/* ------------------ Sticky Navbar ------------------ */

.nav--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0 15%;
    font-size: 16px;
}

.nav--sticky .nav-logo-container {
    width: 70px; height: 70px;
}

/* ---------------------------------------------------- */

.nav-logo-container {
    background-color: transparent;
    /*pointer-events: none; HOVER DOES NOT WORK WITH THIS! */
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}

.nav-logo-container img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
}

/* Navigation List and its Items ------------------------------ */
.nav-list {
    display: flex;
    margin:0 1rem;
    align-items: center;
    font-weight: 600;
}

.nav-list li {
    margin: 0 1.5rem;
    padding: 0 5px;
}

@media only screen and (max-width: 1024px) {
    .nav {
        justify-content: center;
    }

    .nav-list {
        display: none;
    }
}

/* Breakpoint 823px: Where the logo starts to shrink drastically. */
@media only screen and (max-width: 823px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

/* Breakpoint 450px: Wo es fuer die Nav-Items in einer Reihe zu eng wird. */
@media only screen and (max-width: 450px) {
    .nav-list {
        flex-direction: column;
    }
}

@media only screen and (max-width: 319px) {
    .nav {
        flex-direction: row;
        /*padding: 0;*/
    }

    .nav-logo-container {
        display: none;
    }
}
