.modal {
    align-items: center;
    background-color: rgba(107, 110, 112, 0.8);
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    overflow: scroll;
}

.modal__content {
    position: relative;
    color: white;
}

.modal__close-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.modal:focus {
    outline: none !important;
}

.modal > *:focus {
    outline: none !important;
}

/* <><><><><><><><> MODAL CONTENT <><><><><><><><><><> */

.modal__title {
    display: flex;
    align-items: center;
    /*padding-bottom: 10px;*/
}

.modal__title h2 {
    font-family: 'Montserrat', sans-serif;
}

.modal__title__customer-logo {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.modal__title__customer-logo img {
    max-width: 100%;
    max-height: 100%;
}

.modal__feature {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modal__feature__icon {
    color: var(--primary-color);
}

.modal__date--text {
    margin-left: 30px;
}
.modal__tasks--list {
    list-style: initial;
    margin-left: 45px;
}

.modal__tasks--list-item {
    margin-bottom: 10px;
}

.modal__tools--icon {
    margin-right: 30px;
}

.modal__tools--img-wrapper {
    border-bottom: 1px solid #999;
    display: inline-block;
    height: 50px;
    margin-left: 15px;
    padding-bottom: 3px;
    width: 50px;
}

.modal__tools--img-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.repo-link {
    color: var(--primary-color);
    display: block;
    margin-top: 5%;
    text-decoration: underline;
}

@media only screen and (max-width: 668px) {
    .modal__close-btn {
        position: fixed;
        right: 20px;
        top: 15px;
    }

    .modal__title__customer-logo {
        margin-right: 0;
    }

    .modal__feature {
        flex-direction: column;
        margin-top: 15px;
    }

    .modal__title {
        text-align: center;
        /*margin-top: 10px;*/
    }

    .modal__feature__icon {
        margin-bottom: 5px;
    }

    .modal__date--text {
        margin-left: 0;
    }
    .modal__tasks--list {
        margin-left: 0;
    }

    .modal__tasks--list-item {
        margin-bottom: 0;
    }

    .modal__tools--icon {
        margin-right: 0;
    }
}
